body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: primary;
}

header {
    background-color: white;
    box-shadow: 0 0 10px #bbb;
    padding-bottom: 10px;
    padding-top: 0;
    width: 100%;
    position: fixed;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

header section h1 {
    margin: 0;
    padding-top: 10px;
    color: rgb(19, 185, 19);
}

header #nav ul li select {
    border: none;
}

.container {
    width: 80%;
    margin: auto;
}

.container div nav ul {
    display: flex;
    padding: 10px;
    align-items: baseline;
    margin: 0;
}

.container div nav ul li {
    overflow: hidden;
    padding: 0 10px 0 10px;
    font-size: 14px;
}

.container div nav ul li a {
    text-decoration: none;
    color: #000;
}

.container div nav ul li .active {
    color: #1da11d;
    font-weight: bold;
    font-size: medium;
}

.container div nav ul li a:hover {
    color: #1da11d;
    font-size: medium;
}

.container div nav ul .btn1 {
    background-color: rgb(34, 199, 34);
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

.container div nav ul .btn1:hover {
    background-color: #1da11d;
}

.container div nav ul li .btn1 a {
    color: white;
}

/* First-layer */
#first-layer {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    justify-content: space-between;
}

#first-layer .first-child p {
    font-size: 12px;
}

#first-layer #download .imga {
    margin-bottom: 16px;
    margin-left: -25px;
    width: 220px;
}

#first-layer #download .imgb {
    width: 180px;
    margin-left: -25px;
}

/* Second Layer */
.container .seperate {
    text-align: center;
    max-width: 60%;
    margin: auto;
}

#second-layer div p {
    margin: 0;
}

#second-layer div h3 {
    margin: 2px 0 7px 0;
}

#second-layer div button {
    margin-bottom: 5px;
    background-color: #ccfacc;
    color: #0d750d;
    font-weight: bolder;
    border: none;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

#second-layer .layer2 {
    padding-bottom: 40px;
}

#second-layer div button:hover {
    background-color: #1da11d;
    color: #ffffff;
    cursor: pointer;
}

#second-layer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#second-layer .img {
    max-height: 200px;
    width: 150px;
    align-self: center;
    justify-self: center;
    background-color: #0d750d;
    border-radius: 100%;
    display: flex;
    padding-right: 80px;
}

.img img {
    width: 250px;
    height: 250px;
    align-self: center;
    justify-items: center;
}

#second-layer .split .left {
    text-align: right;
}

/* Third Layer */
#third-layer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 15px;
    padding-top: 50px;
    margin-bottom: 15px;
}

#third-layer div {
    grid-gap: 10px;
}

#third-layer .third {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#third-layer .img-bg {
    background-color: #0d750d;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.img01 {
    transform: rotate(-30deg);
    margin-left: -20px;
    width: 120px;
}

.img02 {
    transform: rotate(30deg);
    margin-left: 55px;
    margin-top: -80px;
    width: 145px;
}

.container .seperate button {
    padding: 10px;
    font-weight: bolder;
    background-color: #ccfacc;
    border: none;
    border-radius: 5px;
}

.container .seperate button:hover {
    background-color: #0d750d;
    color: #ffffff;
    cursor: pointer;
}

#third-layer div button {
    margin-bottom: 5px;
    background-color: #ccfacc;
    color: #0d750d;
    font-weight: bolder;
    border: none;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

#third-layer div button:hover {
    background-color: #1da11d;
    color: #ffffff;
    cursor: pointer;
}

/* Last layer */
#last-layer {
    background-color: #0d750d;
    color: #eeecec;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
}

#last-layer .last-one {
    display: flex;
    justify-content: space-between;
}

#last-layer .last-one .img0 {
    display: flex;
}

#last-layer .last-one .img0 .img1 {
    padding-top: 70px;
    margin-bottom: -40px;
}

#last-layer .last-one .img0 .img2 {
    padding-bottom: 70px;
    margin-top: -40px;
}

#last-layer .last-one button {
    background-color: #000000;
    color: #eeecec;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


/* footer */
footer {
    background-color: rgb(24, 23, 23);
    color: #c2baba;
}

footer .container {
    display: flex;
    flex-direction: row;
}

footer .container .foot li {
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}

footer .container .foot ul {
    padding: 12px;
}

footer .container .foot li a {
    text-decoration: none;
    color: #c2baba;
}

footer .foot {
    width: 40%;
}

footer #definition {
    width: 20%;
}

footer .container .copyright p {
    float: left;
    margin: 0;
}

footer #copyright {
    display: block;
}

footer #copyright #container {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

footer #copyright #container ul li {
    display: flex;
    padding: 0 5px 0 5px;
    margin: 0;
}

footer #copyright #container ul {
    margin: 0;
    display: flex;
}

footer #copyright #container ul img {
    margin: 0;
}

#copyright .copyright2 ul .logo {
    color: #ccfacc;
}

/* media query for the head */
@media (max-width: 500px) {
    body {
        font-size: xx-small;
    }

    .container div nav ul .btn1 {
    border-radius: 3px;
    padding: 0 8px 3px 8px;
    }

    .container div nav ul .btn1 a {
        display: inline-block;
    }

    p {
        font-size: 7px;
    }

    h2 {
        font-size: 8px;
    }

    header {
        padding-bottom: 0;
    }

    header .container {
        justify-content: baseline;
    }

    header section h1 {
        font-size: small;
    }

    .container div nav ul {
        padding: 10px;
    }

    .container div nav ul li a:hover {
        font-size: 8px;
    }

    .container div nav ul li .active {
        font-size: 8px;
        font-weight: bold;
    }

    nav li a {
        font-size: 5px;
        margin: -5px;
    }

    /* First layer */
    #first-layer {
        padding-top: 30px;
    }

    #img1 img {
        width: 110px;
        height: 110px;
    }

    .text1 h2 {
        font-size: 15px;
        padding: 0;
    }

    #first-layer .text1 p {
        font-size: 7px;
        margin-top: 0px;
    }

    #first-layer #download {
        margin-top: -20px;
    }

    #first-layer #download .imga {
        width: 80px;
        margin-left: -10px;
    }

    #first-layer #download .imgb {
        width: 60px;
        margin-bottom: 12px;
        margin-left: -10px;
    }

    /* Second layer */
    #second-layer {
        font-size: 8px;
    }

    h3 {
        font-size: 6px;
    }

    #second-layer .img {
        height: 90px;
        width: 3px;
        margin: 10px;
    }

    
    #second-layer div button {
        padding: 1px 4px;
    }

    .split img {
        width: 120px;
        height: 110px;
        margin-left: -13px;
    }

    /* Third Layer */
    .container .seperate button {
        padding: 5px;
        font-size: 8px;
    }

    #third-layer {
        font-size: 8px;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 15px;
    }

    #third-layer button {
        padding: 0;
    }

    #third-layer .img-bg {
        height: 90px;
        width: 90px;
    }
    
    .img01 {
        margin-left: -10px;
        width: 60px;
    }
    
    .img02 {
        margin-left: 30px;
        margin-top: -40px;
        width: 70px;
    }

    #third-layer div button {
        padding: 3px 4px 5px 3px;
        font-size: xx-small;
    }

    /* Last Layer */
    #last-layer {
        font-size: xx-small;
        margin: auto;
        margin-bottom: 20px;
        padding: 0px 10px 10px 10px;
    }

    #last-layer .last-one .img0 {
        margin-right: -10px;
    }

    #last-layer .last-one .img0 .img1 {
        padding-top: 30px;
        margin-bottom: -40px;
        margin-left: -10px;
    }
    
    #last-layer .last-one .img0 .img2 {
        padding-bottom: 0;
        margin-top: -20px;
        margin-left: -20px;
    }

    #last-layer .last-one button {
        padding: 5px;
        font-size: xx-small;
        border: none;
        border-radius: 5px;
    }

    .img0 img {
        width: 50px;
        height: 80px;
    }

    /* Footer */
    footer {
        font-size: 5px;
    }

    .copyright2 img {
        width: 10px;
    }
}